/* Global Styles */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  display: flex;
  flex-direction: row;
}

router-outlet + *  {
  padding: 0 1rem;
}

.spacer-1 {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

/* Text */

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h1, h2 {
  font-weight: lighter;
}

p {
  font-size: 14px;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

button {
  width: 8rem;
  margin-top: 0.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  border: none;
}

.cart-item, .shipping-item {
  width: 100%;
  min-width: 25rem;
  max-width: 30rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 2px;
  background-color: #EEEEEE;
}
